<%- include('./partials/head') %>

<section class="weather-container">
   <section class="intro--block">
      <h1>DEPT® weather planner</h1>
      <details class="main-detail">
            <summary>
               Picture this: an application that doesn't just tell you the weather, but also helps you plan your activities around it. 
               Imagine knowing exactly the perfect day to plan that hike, or when to avoid the outdoor concert due to an unexpected shower. 
               That's exactly what the Dept Weather Planner offers you.
            </summary>
            <p>Built with cutting-edge technologies, our weather planner brings you accurate, real-time weather data with a slick and user-friendly interface. 
               But it's not just a weather app; it's an intuitive daily planner that syncs with the weather. 
               With a range of activities to choose from, it suggests the best options based on current and forecasted weather conditions. </p>
      </details>
      <button class="read--more">Read more</button>
   </section>
   <section class="days-block">
      <ol>
      <% let count = 0;
         allcast.forEach(item => { 
         if (count < 5) { 
         count++;  %>
               <li class="full--list">
                  <p class="mobile--view" > 
                     <%= item.dayOfWeek %>
                  <p>
                  <ol>
                  <li class="desktop--view" > 
                     <%= item.dayOfWeek %>
                  <li>
                        <% if (item.condition.description == "Overcast" ) { %>
                           <i class='bx bxs-cloud-rain' ></i>
                         <% } else { %>
                           <% if (item.condition.description == "Cloudy" ) { %>
                              <i class='bx bxs-cloud'></i>
                            <% } else { %>
                              <i class='bx bxs-sun' ></i>
                            <% } %>
                         <% } %>
                     </li>
                  <% if (item.metric == "CELCIUS") { %>
                     <div>
                        <li> <%= item.minTemp %>°</li>
                        <p>/</p>
                        <li class="bold"> <%= item.maxTemp %>°</li>
                     </div>
                  <% } else { %>
                     <div>
                        <li> °<%= item.minTemp %></li>
                        <p>/</p>
                        <li class="bold"> °<%= item.maxTemp %></li>
                     </div>
                  <% } %>
                     <li> <i class='bx bxs-droplet' style='color:#25c7ff'></i> <%= item.precipitation %></li>
                     <li> <%= item.windDirection %> <i class='bx bx-wind'></i></li>
                  </ol>
               </li>
         <% }}); %>
      </ol>
      
         <section class="days-form">
            <h3>Want to get a daily forecast?</h3>
            <form class="--form">
               <input type="email" placeholder="Enter your e-mailaddress">
               <button type="submit"> Submit </button>
            </form>
         </section>

   </section>
</section>

<section class="current-weather-widget">
      <div class="widget--inner">
         <h2><%= weather.temp %></h2>
     
         <% weatherinfo.forEach(info => { %>
            <% if (info.minTemp > 31) { %>
               
               <h3><%= info.title %></h3>
               <p><%= info.description %></p>
            <% } else { %>


               <p>No weather information available.</p>


            <% } %>

         <% }) %>

   </div>
</section>

<%- include('./partials/foot') %>